<div class="align-center paywall" style="text-align: center;">
    <hr
        style="position: relative; display: block; width: 100%; margin: 36px 0 0;padding: 0; height: 1px; border: 0; border-top: 1px solid #D3DCE6;">
    <h2>
        Keep reading with a free trial.
    </h2>
    <p style="margin: 16px 24px 0 24px;font-style: normal;font-weight: 400;font-size: 19px;line-height: 28px;font-family: 'Adobe Garamond Pro', Times
New Roman, serif;">
        This is a subscriber-only edition of {{site.title}}. To read it in full, start your 30-day trial to The Atlantic.
    </p>
    <div style="margin: 36px 0 24px 0;text-align: center;">
        <a target="_blank" href="{{paywall.ctaUrl}}"
           style="padding: 15px 24px;background: #21272C;border-radius: 4px;font-family: 'Arial', sans-serif;font-style: normal;
                    font-weight: 400;font-size: 16px;line-height: 48px;text-align: center;color: #FFFFFF;height: 48px;text-decoration: none;"
        >
            Get Started
        </a>
    </div>
</div>